<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" type="text/css">
    <title>result</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
</head>

<body>
    <header>

        <nav class="navbar navbar-default">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/top">Top Songs</a></li>
            </ul>
        </nav>

        <br>

        <h1>Results</h1>
        <div>
            <%- artist %>
        </div>
        <div>
            <%- title %>
        </div>
        <div>
            <%- lyrics %>
        </div>

    </header>
</body>

</html>